{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>论坛首页</title>
    <link rel="stylesheet" href="{% static "mainapp/css/reset.css" %}" />
    <link rel="stylesheet" href="{% static "mainapp/css/public.css" %}" />
    <link rel="stylesheet" href="{% static "mainapp/css/index.css" %}" />
</head>

<body>
    <header class="ltHead">
        <div class="ltHead_cen">
            <a href=""><img src="{% static "mainapp/img/logo.png" %}" alt="" class="headPic1" /></a>
            <ul class="headNav">
                <li><a href="">首页</a></li>
                <li><a href="">国内消息</a></li>
                <li><a href="">国外消息</a></li>
                <li><a href="">联系我们</a></li>

            </ul>
            <!--未登入开始-->
            <div class="ltForm appear">
                <a href=""><img src="{% static "mainapp/img/indexForm_bg.png" %}" alt="" class="headPic2" /></a>
                <ul>
                    <li><a href="">登入</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
            <!-- 未登入结束-->
            <!-- 登入开始，未登入时以下隐藏-->
            <!--<div class="lt_login appear">-->
            <!--<ul>-->
            <!--<li><a href="">花开花落</a></li>-->
            <!--<li><a href="">退出</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!-- 登入结束-->
            <div class="navFix">
                <!--登入开始-->
                <a href="" class="navMe">花花</a>
                <!--登入结束-->
                <!--未登入开始-->
                <!--<a href="" class="navLogin">登录</a>-->
                <!--未登入结束-->
                <a href="" class="navWrite">发新帖</a>
            </div>
        </div>
    </header>
    <div class="indexMain">
        <div class="indexMain_left">
            <div class="indexMain_left_btn">
                <ul>
                    <li><a href="javascript:">最热</a></li>
                    <li><a href="javascript:" class="on">最新</a></li>
                </ul>
            </div>
            <div class="indexMain_left_con">
                <!--有主题图模板开始-->
                <!-- <div class="indexCon_msg">
                    <div class="indexCon_msg_pic"></div>
                    <div class="indexCon_msg_detail">
                        <a href="">
                            <div class="indexCon_msg_detail_tittle">
                                <span>竞拍</span>
                                <p>关注上海车牌竞拍方面的资讯，对当月竞拍分析发表独到见解</p>
                            </div>
                        </a>
                        <div class="havePic">
                            <a href="">
                                <div class="havePic_head"></div>
                            </a>
                        </div>
                        <div class="indexCon_msg_detail_other">
                            <ul>
                                <li>花开花落</li>
                                <li>1天前</li>
                                <li>21</li>
                                <li>28</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div> -->
                <!--有主题图模板结束-->
                {% for content in contents %}
                <div class="indexCon_msg">
                    <!-- <div class="indexCon_msg_pic"></div> -->
                    <div class="indexCon_msg_detail">
                        <a href="">
                            <div class="indexCon_msg_detail_tittle">
                                <span>
                                    {% if content.rumor %}
                                    非谣言
                                    {% else %}
                                    谣言
                                    {% endif %}
                                </span>

                            </div>
                        </a>
                        <p>{{ content.content }}</p>
                        <br>
                        <div class="indexCon_msg_detail_other">
                            <ul>
                                <li>{{ content.location }}</li>
                                <li>{{ content.time }}</li>
                                <!-- 下面两个标签是评论与观看数 -->
                                <li></li>
                                <li></li>
                                <li>{{ content.ner }}</li>
                                <!-- <li>{{ content.org }}</li>
                                <li>{{ content.company }}</li>
                                <li>{{ content.person }}</li>
                                <li>{{ content.job }}</li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                {% endfor %}
            </div>
            <!-- 翻页功能 -->
            <!-- <div class="indexFooter">
                <div class="indexFooter_con">
                    <a href="javascript:"><</a>
                    <a href="" class="on">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="javascript:">></a>
                </div>
            </div> -->
        </div>
        <div class="indexMain_right">
            <div class="indexMain_rightCon">
                <a href="" class="newMsg"></a>
                <div class="pwfb">
                    <div class="pwfbHead">
                        公告
                    </div>
                    <div class="pwfbCon"></div>
                    <div class="pwfbFooter"></div>
                </div>
                <!-- 搜索框 -->
                <!-- <div class="indexSearch">
                    <input type="text" placeholder="请输入关键词" />
                    <input type="submit" value="搜索" />
                </div> -->
                <div class="indexPublic">
                    <div class="indexPublic_head">
                        热门
                    </div>
                    <div class="indexPublic_con">
                        <ul class="weekHot">
                            <li>
                                <a href="">特朗普：美国死亡率世界最低</a>
                                <!-- <span>29</span> -->
                            </li>
                            <li>
                                <a href="">特朗普：喝消毒液能治新冠</a>
                                <!-- <span>30</span> -->
                            </li>
                            <li>
                                <a href="">特朗普：没有人比我更懂疫情</a>
                                <!-- <span>14</span> -->
                            </li>
                            <li>
                                <a href="">特朗普：解雇福奇纯属子虚乌有</a>
                                <!-- <span>9</span> -->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="indexPublic">
                    <div class="indexPublic_head">
                        友情链接
                    </div>
                    <div class="indexPublic_con">
                        <ul class="indexLink">
                            <li><a href="http://www.nhc.gov.cn/">国家卫生健康委员会</a></li>
                            <li><a href="https://coronavirus.1point3acres.com/zh">抗击疫情我在行动</a></li>
                            <li><a href="https://www.pku.edu.cn/">北京大学</a></li>
                        </ul>
                    </div>
                </div>
                <div class="indexWxpublic">
                    <p>关注微信公众号(暂无)</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <footer class="publicFooter">
        <p> &copy; 2019-2020 北京大学 计算机网络实习 小组作业</p>
        <!-- <p>Copyright &copy; 2017-2018 PaiWang 上海钦合投资管理有限公司版权所有 沪ICP备16032224号-2</p> -->
    </footer>
</body>

</html>
<script src="{% static "mainapp/js/jquery-1.8.3.min.js" %}"></script>
<script>
    $(".indexMain_left_btn li a").click(function () {
        $(".indexMain_left_btn li a").removeClass("on");
        $(this).addClass("on");
    });
    window.onscroll = function () {
        var scrolls = document.body.scrollTop || document.documentElement.scrollTop;
        var slided = 60;
        if (scrolls >= slided) {
            $(".appear").hide();
            $(".navFix").show();
            $(".ltHead").addClass("navTop");
        } else {
            $(".appear").show();
            $(".navFix").hide();
            $(".ltHead").removeClass("navTop");
        }
    };
</script>